<p id="notice"><%= notice %></p>

<h1 style="font-weight: 600">Listing Todo Lists</h1>

<hr>

<table width="100%">
  <thead>
    <tr>
      <th style="font-size: 1.5em;">Title</th>
      <th style="font-size: 1.5em;">Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr id="<%= dom_id(todo_list) %>">
        <td><%= todo_list.title %></td>
        <td><%= todo_list.description %></td>
        <td>
          <%= link_to "View items", todo_list_todo_items_path(todo_list.id), class: "btn btn-default" %>
          <%= link_to 'Show', todo_list, class: "btn btn-success" %>
          <%= link_to 'Edit', edit_todo_list_path(todo_list), class: "btn btn-primary" %>
          <%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<br>

<%= link_to 'New Todo list', new_todo_list_path, class: "btn btn-warning btn-block" %>
